header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00D4E0;
    border-bottom: 10px solid #20676B;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", sans-serif;
    font-weight: 500; /* set text weight */
    text-decoration: none; /* remove or keep text decorations */
    margin-right: 30px; /* espaçamento do texto */
}

a::before {
    content: "";
    background-color: #FF7519;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}