.banner {
  box-sizing: border-box;
  background-image: url(../../assets/img/background.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  height: 980px;
  border-bottom: 10px solid #20676b;
  padding-top: 115px;
  padding-left: 90px;
}

.banner .wrapper {
  display: flex;
  flex-direction: column;
  width: 680px;
}

.banner .main-box {
  margin-bottom: 40px;
}

.banner .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
