#box {
    display: inline-block;
    background-color: #00D4E0;
    box-shadow: 5px 5px 0 #20676B;
    width: 684px;
    text-align: center;
    padding: 42px 0;
}

#box h1 {
    margin-bottom: 28px;
} /* espacamento sรณ no titulo dentro da box */