.main-section.-card-project {
  background-color: #20676b;
  border-bottom: 10px solid #00d4e0;
}

.card-project {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 564px;
  width: 564x;
  box-shadow: 15px 15px #fff;
}
