@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
        transform: translateY(-20px);
    }
    80% {
        transform: translateY(-10px);
        transform: translateY(-20px);
    }
}

.main-button {
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    text-decoration: none;
    background-color: #FF7519;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #4E5052; /* x, y, blur, color */
    margin-right: 0;
}

.main-button:hover {
    animation: bounce 2s;
}