.main-box {
    display: inline-block;
    background-color: #00D4E0;
    box-shadow: 10px 10px 0 #20676B;
    width: 680px;
    text-align: center;
    padding: 42px 0;
}

.main-box .subtitle {
    margin-bottom: 28px;
} /* espacamento sรณ no titulo dentro da box */